.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.flat {
  width: 200px;
  height: 200px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}
